{% load static %}

<nav class="navbar bg-light">
    <div class="container-fluid">

        {# App logo #}
        <a class="navbar-brand" href="{% url "home" %}">
            <img src="{% static 'logos/fake_events_logo.png' %}" class="img-fluid" width="100px" alt="fake-events-logo">
        </a>

        {# Search form #}
        <form action="{% url "search" %}" method="post" class="nav-item col" role="search">
            {% csrf_token %}
            <input type="hidden" value="{% now "Y-m-d" %}" name="startdate">
            <input class="form-control" type="search" name="event_search" placeholder="&#128269; Find upcoming event"
                   aria-label="Search">
        </form>

        {# Login button / login user menu #}
        {% if request.user.is_authenticated %}
            <div class="dropdown mx-3">
            <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown">
                <i class="bi bi-person-circle"></i> {{ request.user.username }}
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url "my_events" %}">My Events</a></li>
                <li><a class="dropdown-item" href="{% url "create_event" %}">Create Event</a></li>
{#                <li><a class="dropdown-item" href="#">Request api key?</a></li>#}
                <li><a class="dropdown-item" href="{% url "logout" %}">Logout</a></li>

            </ul>

        {% else %}
            <a class="btn btn-primary mx-3" href="{% url "login" %}">
                <i class="bi bi-person-circle"></i>
                Login</a>
        {% endif %}

        </div>
</nav>

